<li id="<%= dom_id %>" class="<%= (if completed then "todo-row is-complete" else "todo-row" end) %>">
			<span class="todo-row__dot" aria-hidden="true"></span>
			<span class="todo-row__title"><%= title %></span>
		</li>
