<% if todos.length > 0 %>
			<ul class="todo-list">
				<% todos.each do |todo| %>
					<li class="todo-item">
						<span class="todo-dot" aria-hidden="true"></span>
						<div>
							<span><%= todo.title %></span>
							<% if todo.notes != "" %>
								<p class="todo-notes"><%= todo.notes %></p>
							<% end %>
						</div>
					</li>
				<% end %>
			</ul>
		<% else %>
			<div class="empty-state">
				No open tasks. Serene, but suspicious.
			</div>
		<% end %>
